<WebSocketConnection>
  <div class="app-container">
    <div class="css-root">
      <WhereTheFuckIsObiWan />

      <section class="css-scrollable-list">
        <SithList />

        <div class="css-scroll-buttons">
          <button class="css-button-up"></button>
          <button class="css-button-down"></button>
        </div>
      </section>
    </div>
  </div>
</WebSocketConnection>
